* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    background-color: #bacbff;
}


/* headline */

#header-image {
    width: 300px;
}

#header-a {
    position: absolute;
    z-index: 3;
    left: 0;
    float: left;
    width: 40%;
    top: 0;
}


/* main container */

.body {
    width: 70%;
    height: 100vh;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: grey;
    width: 38vw;
    height: 38vw;
    margin: 10vh auto;
}

.container .box {
    background: #333;
    margin: 5px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.container .box:hover {
    transform: scale(.98);
    background-color: rgb(27, 27, 27);
}

button {
    background-color: #ff8400;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    transition: all ease-in;
    margin-top: 5vh;
    font-size: 1.2em;
}

button:hover {
    transform: scale(.98);
    cursor: pointer;
}


/* configure section css */

#configure {
    background-color: #333;
    color: white;
    position: absolute;
    height: 50vh;
    width: 30%;
    top: 38%;
    left: 5%;
    padding: 30px;
    border-radius: 15px;
    transition: all 0.2s ease-in
}

#configure input {
    background-color: white;
    font-weight: light;
    padding: 10px 7px;
    color: #333;
    font-size: 1.1em;
    text-align: left;
    margin: 15px 0;
}


/* 
#configure:hover {
    background-color: rgb(27, 27, 27);
} */

#configure h1 {
    font-weight: 200;
    background-color: inherit;
}

#configure div {
    background-color: #333;
}

#configure button {
    background-color: #ff8400;
    border: none;
    box-shadow: 2px 2px 10px #000;
    /* color: black; */
}

@media (max-width:1200px) {
    #configure {
        width: 90%;
        top: 70%;
        height: 25%;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        box-shadow: 2px 2px 10px #333;
    }
    #configure div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #configure button {
        padding: 10px;
        transform: translate(0, -20%);
    }
}

@media (max-width:900px) {
    #configure {
        display: block;
        height: 50vh;
        top: 90vh;
        margin: 20px auto;
        padding: 30px;
    }
    #configure h1 {
        margin-bottom: 15px;
    }
    #header-a {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        text-decoration: none;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: grey;
        width: 60vw;
        height: 60vw;
        margin: 20vh auto;
    }
    .body {
        width: 100%;
        float: none;
    }
}

@media (max-width: 750px) {
    #header-a {
        display: block;
        width: 100%;
    }
    .container {
        margin-top: 40vh;
        width: 60vw;
        height: 60vw;
    }
    .body {}
}

@media (max-width: 750px) and (min-width:650px) {
    #configure {
        top: 100vh;
    }
}

@media (max-width: 500px) {
    .container {
        margin-top: 40vh;
        width: 70vw;
        height: 70vw;
    }
}


/* modal styling */

.screen {
    display: none;
}

.screen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4
}

.modal {
    background-color: white;
    position: absolute;
    width: 50vw;
    height: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #333;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #000;
    z-index: 5;
}

.modal img {
    background-color: white;
    margin: auto;
    width: 60%;
}

.modal .modal-content h1 {
    background-color: white;
}

@media (max-width: 950px) {
    .modal {
        position: fixed;
        width: 60vh;
        height: 60vh;
    }
}

@media (max-width: 550px) {
    .modal {
        width: 40vh;
        height: 40vh;
    }
}

@media (max-width: 900px) {
    .screen::after {
        height: 150vh;
    }
}

@media (max-width: 750px) {
    .screen::after {
        height: 160vh;
    }
}